[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
python-dotenv = "*"
gunicorn = "*"
django-sesame = "*"
websockets = "*"
uvicorn = "*"
whitenoise = "*"
async-asgi-testclient = "*"

[dev-packages]

[requires]
python_version = "3.10"
