<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'forecasts/common.css' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  {% if error %}
    <p class="red">{{ error }}</p>
  {% endif %}
  <form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="username"></input>
  <input type="password" name="password" placeholder="password"></input>
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{request.GET.next}}"></input>
  {% endif %}
  <input type="submit" value="Login"></input>
</form>
</div>
</body>
