@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root {
  --main-color: #0d0a24;
  --secondary-color: #1a134d;
  --highlight-color: #57ECC3;
  --gray-color: #474555;
  --light-gray-color: #9c9c9c;
  --white-color: #ddd;
  --gold-color: #f2c94c;
  --red-color: #D5715E;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-color);
}

.main {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
  height: 250px;
  width: 250px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.circle {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  height: 60px;
  width: 60px;
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: black;
  font-size: 2em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 270px;
  height: 10px;
  border-radius: 5px;
  background: var(--gray-color);
  outline: none;
  opacity: 0.7;
}

.container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-bottom: 50px;
}

button {
  border: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

#y:hover {
  background-color: var(--highlight-color);
  color: black;
}

#n:hover {
  background-color: var(--red-color);
}

label {
  color: var(--light-gray-color);
  font-size: 1.2em;
  margin-right: 10px;
}

input[type="text"] {
  width: 270px;
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 1em;
  color: var(--light-gray-color);
  background-color: var(--gray-color);
}

input[type="submit"] {
  border: none;
  background-color: var(--highlight-color);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  margin-top: 20px;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#copy-button img {
  filter: invert(100%);
  height: 20px;
  width: 20px;
}

#copy-input {
  background-color: var(--gray-color);
  color: var(--light-gray-color);
  border: none;
  outline: none;
}

#copy-button {
  display: flex;
  align-items: center;
}

.copy-to-clipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 50%;
  transition: opacity 0.3s ease-in-out;
  transform: translateX(-50%);
}
